<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Nossos Parceiros</h1>
        <div class="h-1 w-20 bg-red-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Agora, além de ajudar a salvar vidas, você também pode aproveitar vantagens exclusivas como usuário cadastrado do Sangue Amigo App! Temos parcerias com diversos estabelecimentos que oferecem descontos especiais para nossos membros. Não perca essa oportunidade de economizar enquanto faz o bem. Baixe o app agora e descubra todas as vantagens que temos para você! 🌟 #SangueAmigoApp #ParceirosDeDesconto</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/salao de beleza.jpg" alt="content">
          <h3 class="tracking-widest text-red-500 text-xs font-medium title-font">Salão de Beleza Bella Vida</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Beleza em Promoção: Cuidados com Estilo</h2>
          <p class="leading-relaxed text-base">Oferece 10% de desconto em todos os serviços para membros do clube de fidelidade.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/academia.jpg" alt="content">
          <h3 class="tracking-widest text-red-500 text-xs font-medium title-font">Academia Movimente-se </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Mexa-se e Economize: Descontos para sua Saúde</h2>
          <p class="leading-relaxed text-base">Desconto de 20% na mensalidade para novos alunos que se inscreverem através de parcerias com empresas locais.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/cafeteria.jpg" alt="content">
          <h3 class="tracking-widest text-red-500 text-xs font-medium title-font">Café Bistrô</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Café com Desconto: Momentos Acolhedores por Menos</h2>
          <p class="leading-relaxed text-base">Parceria com aplicativos de entrega oferecendo 15% de desconto em pedidos online.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/livraria.jpg" alt="content">
          <h3 class="tracking-widest text-red-500 text-xs font-medium title-font">Livraria Letras & Livros</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Leitura com Desconto: Encontre sua Inspiração</h2>
          <p class="leading-relaxed text-base">Parceria com universidades locais oferecendo 15% de desconto em livros acadêmicos.</p>
        </div>
      </div>
    </div>
  </div>
</section>
