<mat-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Perfil do Usuário</ng-template>
      <mat-form-field>
        <mat-label>Tipo de Usuário</mat-label>
        <select matNativeControl required formControlName="usuario">
          <option value=""></option>
          <option value="DOADOR">DOADOR</option>
          <option value="FAVORECIDO">FAVORECIDO</option>
          <option value="INSTITUICAO">INSTITUIÇÃO</option>
        </select>
      </mat-form-field>
      <!-- INTERVALO -->
      <div>
        <button mat-button matStepperNext>Continuar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Dados Pessoais</ng-template>
      <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput type="number" formControlName="cpf" placeholder="000.000.000-00" required  [(ngModel)]="cpf"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Data de Nascimento</mat-label>
        <input matInput formControlName="dataNascimento" type="date" required [(ngModel)]="dataN"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data da Ultima Doação</mat-label>
        <input matInput formControlName="dataUltimaDoacao" type="date" required [(ngModel)]="dataD"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tipo de Sanguíneo</mat-label>
        <select matNativeControl required formControlName="fatorSanguineo" [(ngModel)]="fatorS">
          <option value=""></option>
          <option value="A_POSITIVO">A+</option>
          <option value="A_NEGATIVO">A-</option>
          <option value="B_POSITIVO">B+</option>
          <option value="B_NEGATIVO">B-</option>
          <option value="AB_POSITIVO">AB+</option>
          <option value="AB_NEGATIVO">AB-</option>
          <option value="O_POSITIVO">O+</option>
          <option value="O_NEGATIVO">O-</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Doador de Medula Óssea?</mat-label>
        <select matNativeControl required formControlName="doadorMedula"[(ngModel)]="medula">
          <option value=""></option>
          <option value="NAO_DOADOR_MEDULA">NÃO</option>
          <option value="DOADOR_MEDULA">SIM</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Grau de Prioridade</mat-label>
        <select matNativeControl required formControlName="grauPrioridade">
          <option value=""></option>
          <option value="BAIXA">BAIXA</option>
          <option value="MEDIA">MEDIA</option>
          <option value="ALTA">ALTA</option>
        </select>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Continuar</button>
      </div>
    </form>
  </mat-step>
  <!-- INTERVALO -->
  <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Dados Pessoais</ng-template>
      <mat-form-field>
        <mat-label>Nome Completo</mat-label>
        <input matInput type="text" formControlName="nome" placeholder="Nome Completo" required [(ngModel)]="nome"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput type="text" formControlName="login" placeholder="Login" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="senha" placeholder="Password" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input matInput type="number" formControlName="telefone" placeholder="(81)9 9999-9999" required [(ngModel)]="telefone" />
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Continuar</button>
      </div>
    </form>
  </mat-step>
  <!-- INTERVALO -->
  <mat-step id="info">
    <ng-template matStepLabel>Concluido</ng-template>
    <h3>Nome</h3>
    <p id="inf">{{nome}}</p>
    <h3>Cpf</h3>
    <p id="inf">{{cpf}}</p>
    <h3>Data de nascimento</h3>
    <p id="inf">{{dataN}}</p>
    <h3>Data da ultima doação</h3>
    <p id="inf">{{dataD}}</p>
    <h3>Fator sanguineo</h3>
    <p id="inf">{{fatorS}}</p>
    <h3>Doador de medula?</h3>
    <p id="inf">{{medula}}</p>
    <h3>Telefone</h3>
    <p id="inf">{{telefone}}</p>
    <h3>Email</h3>
    <p id="inf"></p>

    <p id="text">Confirme para concluir o cadastro</p>
    <div>
      <button id="alinhar" mat-button matStepperPrevious>Back</button>
      <button id="alinhar" (click)="sendDados()">Confirmar</button>
    </div>
  </mat-step>
</mat-stepper>
