<mat-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Perfil do Usuário</ng-template>
      <mat-form-field>
        <mat-label>Tipo de Usuário</mat-label>
        <select matNativeControl required formControlName="usuario">
          <option value=""></option>
          <option value="DOADOR">DOADOR</option>
          <option value="FAVORECIDO">FAVORECIDO</option>
          <option value="INSTITUICAO">INSTITUIÇÃO</option>
        </select>
      </mat-form-field>
      <!-- INTERVALO -->
      <div>
        <button (click)="sendDados()" mat-button matStepperNext>Continuar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Dados Pessoais</ng-template>
      <mat-form-field>
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="cpf" name="cpf"
          matInput

          type="number"
          formControlName="cpf"
          placeholder="000.000.000-00"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Data de Nascimento</mat-label>
        <input matInput formControlName="dataNasc" type="date" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data da Ultima Doação</mat-label>
        <input matInput formControlName="dataDoa" type="date" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tipo de Sanguíneo</mat-label>
        <select matNativeControl required formControlName="sangue">
          <option value=""></option>
          <option value="A_POSITIVO">A+</option>
          <option value="A_NEGATIVO">A-</option>
          <option value="B_POSITIVO">B+</option>
          <option value="B_NEGATIVO">B-</option>
          <option value="AB_POSITIVO">AB+</option>
          <option value="AB_NEGATIVO">AB-</option>
          <option value="O_POSITIVO">O+</option>
          <option value="O_NEGATIVO">O-</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Doador de Medula Óssea?</mat-label>
        <select matNativeControl required formControlName="medula">
          <option value=""></option>
          <option value="NAO_DOADOR_MEDULA">NÃO</option>
          <option value="DOADOR_MEDULA">SIM</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Grau de Prioridade</mat-label>
        <select  matNativeControl required formControlName="prioridade">
          <option value=""></option>
          <option value="BAIXA">BAIXA</option>
          <option value="MEDIA">MEDIA</option>
          <option value="ALTA">ALTA</option>
        </select>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button (click)="sendDados()" mat-button matStepperNext>Continuar</button>
      </div>
    </form>
  </mat-step>
  <!-- INTERVALO -->
  <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Dados Pessoais</ng-template>
      <mat-form-field>
        <mat-label>Nome Completo</mat-label>
        <input
          matInput
          type="text"
          formControlName="nome"
          placeholder="Nome Completo"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input
          matInput
          type="text"
          formControlName="login"
          placeholder="Login"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="senha"
          placeholder="Password"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input
          matInput
          type="number"
          formControlName="telefone"
          placeholder="(81)9 9999-9999"
          required
        />
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button (click)="sendDados()" mat-button matStepperNext>Continuar</button>
      </div>
    </form>
  </mat-step>
  <!-- INTERVALO -->
  <mat-step>
    <ng-template matStepLabel>Concluido</ng-template>
    <p>Confirme para concluir o cadastro</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button>Confirmar</button>
    </div>
  </mat-step>
</mat-stepper>
