mat-form-field{
  width: 300px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  padding-left: 40vw;
}

@media screen and (max-width: 400px) {
  form {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    padding-left: 10vw;
  }
}
@media screen and (max-width: 800px) {
  form {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    padding-left: 30vw;
  }
}
h3{
  // grid-column: 2;
  text-align: center;
  margin-bottom: 0;
  color: #8E8E8E;
}
#inf{
  margin-top: 0;
  margin-inline: auto;
  text-align: center;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  background-color: #E5E5E5;
}
#text{
  text-align: center;
  margin-inline: auto;
}
#alinhar{
  margin-inline: auto;
  display: flex;
  justify-content: center;
}


